<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x'
      crossorigin='anonymous'
    />

    <style>
      #pageHeader {
        position: relative;
      }

      .logo {
        width: 5%;
        position: absolute;
      }

      .logo2 {
        width: 10%;
        position: absolute;
        right: 0;
        top: 0;
      }

      .subtitle {
        font-size: 10px;
        margin: 0;
      }

      th {
        font-size: 13px;
      }

      td {
        font-size: 12px;
      }

    </style>
  </head>

  <body>

    <div
      id='pageHeader'
      style="border-bottom: 1px solid #ddd"
    >
      <img
        class='logo'
        src='https://sg.com.mx/sites/default/files/2018-04/LogoITCelaya.png'
      />
      <h4 class='text-center title'>Instituto Tecnologico de Celaya</h4>
      <p class="text-muted text-center subtitle">Departamento Médico</p>
      <img
        class='logo2'
        src='https://sites.google.com/site/itcelayaibq/_/rsrc/1542846136389/home/tecnm.jpg'
      />
    </div>

    <h3 class='text-center mb-4 mt-3'>Listado de Casos Detectados</h3>
    <h4 class='text-center'>Estudiantes</h4>

    <table class='table'>
      <thead>
        <tr>
          <th scope='col'>Nombre</th>
          <th scope='col'>Fecha de Deteccion</th>
          <th scope='col'>Resultado</th>
          <th scope='col'>Carrera</th>
        </tr>
      </thead>
      <tbody>
        {{#each estudiantes}}
          <tr>
            <td>{{nombre}}</td>
            <td>{{fecha_deteccion}}</td>
            <td>{{resultado}}</td>
            <td>{{carrera}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <h4 class='text-center mt-4'>Personal</h4>
    <table class='table'>
      <thead>
        <tr>
          <th scope='col'>Nombre</th>
          <th scope='col'>Fecha de Deteccion</th>
          <th scope='col'>Resultado</th>
          <th scope='col'>Departamento</th>
        </tr>
      </thead>
      <tbody>
        {{#each personal}}
          <tr>
            <td>{{nombre}}</td>
            <td>{{fecha_deteccion}}</td>
            <td>{{resultado}}</td>
            <td>{{departamento}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

  </body>

</html>
