<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orden</title>
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x'
      crossorigin='anonymous'
    />
    <style>
      #pageHeader {
        position: relative;
      }

      .logo {
        width: 5%;
        position: absolute;
      }

      .logo2 {
        width: 13%;
        position: absolute;
        right: 0;
        top: 0;
      }

      .subtitle {
        font-size: 10px;
        margin: 0;
      }

      p {
        font-size: 11px;
      }

      .footer p {
        font-size: 8px;
        margin: 0;
      }

      .footer h6 {
        text-transform: uppercase;
        font-size: 12px;
        color: #94b7cd;
      }

      .fondo {
        position: absolute;
        z-index: -1;
        filter: opacity(0.5);
        right: 35%;
      }

      .fondo img {
        filter: opacity(0.5);
        width: 150px;
        height: 150px;
      }

    </style>
  </head>

  <body>

    <div
      id='pageHeader'
      style="border-bottom: 1px solid #ddd"
    >
      <img
        class='logo'
        src='https://sg.com.mx/sites/default/files/2018-04/LogoITCelaya.png'
      />
      <h4 class='text-center'>Instituto Tecnologico de Celaya</h4>
      <p class="text-muted text-center subtitle">Departamento Médico</p>
      <img
        class='logo2'
        src='https://sites.google.com/site/itcelayaibq/_/rsrc/1542846136389/home/tecnm.jpg'
      />
    </div>

    <h3 class="mt-3 text-center">Orden de Prueba de Covid-19</h3>

    <div class="fondo">
      <img src="https://res.cloudinary.com/dnurqqdri/image/upload/v1624166880/labcel_qgfrsj.png">
    </div>

    <div class="mt-3">
      <div>
        <p><b>Médico</b>: {{medico.nombre}}</p>
      </div>
      <div>
        <p><b>Paciente</b>: {{paciente.nombre}}</p>
      </div>
      <div style="position: absolute; right: 0; top: 50px;">
        <p><b>Cédula</b>: {{medico.cedula}}</p>
      </div>
      <div>
        <p><b>Tipo de Prueba</b>: {{tipo}}</p>
      </div>
    </div>



    <div
      id="pageFooter"
      class="footer"
    >
      <div class="mt-5">
        <span style="width: 50%; height: 1px; background-color: #e1e1e1; position: absolute; top: 0px;"></span>
        <div style="position: absolute; left: 0; top: 0;">
          <p>Firma del profesional</p>
        </div>
        <div style="position: absolute; right: 0; top: 0;">
          <p>Fecha: {{fecha}}</p>
        </div>
      </div>
      <span style="width: 100%; height: 1px; background-color: #94b7cd; position: absolute; top: 35px;"></span>
      <h6 class="text-center">Laboratorio Labcel</h6>
      <p class="text-center">Camino a Jofre #160-A Col. Las Flores 38022. Celaya, Gto.</p>
      <p class="text-center">Ave. Anenecuilco #301 Letra G Col. Emiliano Zapata 38035 Celaya, Gto. </p>
      <p class="text-center">Teléfono: 461-325-55-69</p>
    </div>
  </body>

</html>
